/* div {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #101010;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #101010;
    border-radius: 4px;
    transition: background-color 0.3s;
}
