.created-workspace .nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 10px 0;
  cursor: pointer;
  background-color: #1d1d1d;
  border-radius: 4px;
  text-align: start;
  transition: background-color 0.3s;
}

.created-workspace .nav-item:hover {
  background-color: #2c3e50;
}

.workspace-actions {
  margin-left: auto;
  position: relative;
}

.workspace-menu {
  position: absolute;
  top: 25px;
  right: 0;
  background: #1d1d1d;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.workspace-menu button {
  background: transparent;
  border: none;
  padding: 10px 15px;
  font-size: 12px;
  text-align: left;
  color: #ecf0f1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.workspace-menu button:hover {
  background-color: #2c3e50;
}


.created-workspaces button {
  background-color: #1d1d1d;
  margin-top: -5px;
  padding: 15px 15px;
  border: none;
  color: #ecf0f1;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s, transform 0.2s;
}

.created-workspaces button:hover {
  background: #444;
  transform: translateY(-2px);
}


.created-workspace input {
  border: 1px solid #444;
  background-color: #1d1d1d;
  color: #ecf0f1;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  margin-top: 5px;
}

.created-workspace input:focus {
  outline: none;
  border-color: #4caf50;
  background-color: #2c3e50;
}


.folder-list {
  margin-top: 10px;
  padding-left: 20px;
  list-style: none;
}

.folder-item {
  margin: 5px 0;
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.folder-item:hover {
  color: #fff;
}


.rename-field input {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.rename-field input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}
