/* #252526 */
/* #1E1E1E */

.navbar {
    background-color: #e9e7e7;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
  }
  
  .navbar-container{
    display: flex;
    padding: 10px 10%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbar-logo {
    flex: 1;
  }
  
  .navbar-logo img {
    height: 60px;
    cursor: pointer;
  }
  .nav-links li {
    display: inline;
    margin: 10px;
  }
  
  .nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
  }
  
  .nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  
  .nav-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #218838;
  }
  
  .logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  
  /* Modal Styling */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
  }
  