.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative; 
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
  color: #28a745;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  text-align: start;
  margin-bottom: 5px;
  color: #28a745;
}

.form-group input,
.form-group textarea {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.form-group textarea{
  height: 100px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.form-actions .btn-submit {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

.form-actions .btn-submit:hover{
  background-color: #28a745;
  transform: scale(1.05);
}

.btn-cancel {
  position: absolute; 
  top: -10px; 
  right: -5px; 
  color: #28a745;
  border: none;
  font-size: 1.7rem; 
  cursor: pointer;
}

.btn-cancel:hover {
  opacity: 0.9;
}
