.group-chat-container {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100%;
}

.groupchat-sidebar {
    width: 25%;
    padding: 20px;
    background-color: #ccc;
    border-radius: 5px;
    
}

.groupchat-sidebar h3 {
    margin-bottom: 10px;
}

.group {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
}

.group.active {
    background-color: #d1f0d1;
}

.create-group input {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-group button {
    border-radius: 5px;
    padding: 10px;
    background-color: #1d1d1d;
    color: white;
    border: none;
    cursor: pointer;
}

.chat-section {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.users, .messages {
    margin-bottom: 20px;
}

.user, .message {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.message-input {
    display: flex;
    gap: 10px;
}
