.about-page {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
    color: #333;
    height: 100vh;
}

.about-container {
    max-width: 1200px;
    background: #101010;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 30px;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.about-text {
    flex: 2;
    
}

.about-text p{
    font-size: 10px;
}

.about-image {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.resized-image {
    width: 100%;
    border-radius: 10px;
    max-height: 400px;
    object-fit: cover; /* Maintain aspect ratio */
}

.about-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #007ACC; 
}

.about-container h2 {
    font-size: 28px;
    margin-top: 30px;
    color: #005A9E; 
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

.about-container .about-intro {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}


@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
    .about-image {
        margin-top: 20px;
    }
}
