.notifications {
    padding: 20px;
    background-color: #1d1d1d;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #f9f9f9;;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #f9f9f9;
}