/* Overlay (background blur) */
.create-folder-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.create-folder-modal {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
  position: relative;
}


.create-folder-modal h1 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}


.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
 
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #28a745;
  transition: color 0.3s ease;
}

.create-folder-modal h1{
  font-size: 22px;
  margin-bottom: 20px;
  color: #28a745;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-size: 16px;
  color: #28a745;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}


.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button,
.submit-button {
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

 .cancel-button {
  background-color: #28a745;
  color: white;
}

.cancel-button:hover {
  background-color: #b3b3b3;
}

.submit-button {
  background-color: #28a745;
  color: white;
}

.submit-button:hover {
  background-color: #28a745;
}
